@import "tailwindcss";

:root {
  --color-primary: #fc3d03;
  --color-secondary: #afaeae;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-background: #f5f5f5;
  --color-wheat: #ebebeb;
}
html {
  scroll-behavior: smooth;
}
